Checks: >
    -*,
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    readability-*,
    cppcoreguidelines-*

WarningsAsErrors: >
    clang-analyzer-*,
    bugprone-*,
    performance-*

HeaderFilterRegex: '.*'

FormatStyle: none